# Service Configuration
SERVICE_NAME=inventory-service

# Database Configuration
DATABASE_CONNECTION_URI=mongodb://mongo:mongo@mongo-service:27017/
DATABASE_NAME=inventory

# Server Configuration
GRPC_SERVER_PORT=50051

# Consul Configuration
CONSUL_ADDRESS=consul-service:8500

# Jaeger Configuration
OTLP_ENDPOINT=jaeger-service:4317
OTLP_PROTOCOL=grpc
OTLP_INSECURE=true

# Instance Configuration
INSTANCE_ID=ee6085e0-6bf2-4393-bb40-6d4d92cc1c97
INSTANCE_HOST=inventory-service
INSTANCE_PORT=50051
HEALTH_CHECK_URL=
HEALTH_CHECK_INTERVAL=10s