# Project Domain
PROJECT_DOMAIN=http://localhost:8080

# Service Configuration
SERVICE_NAME=payment-service

# Database Configuration
DATABASE_CONNECTION_URI=mongodb://mongo:mongo@mongo-service:27017/
DATABASE_NAME=payment

# Server Configuration
GRPC_SERVER_PORT=50052

# Consul Configuration
CONSUL_ADDRESS=consul-service:8500

# RabbitMQ Configuration
RABBITMQ_ADDRESS=amqp://rabbitmq:rabbitmq@rabbitmq-service:5672/%2f

# Jaeger Configuration
OTLP_ENDPOINT=jaeger-service:4317
OTLP_PROTOCOL=grpc
OTLP_INSECURE=true

# Instance Configuration
INSTANCE_ID=b0188a67-ffc8-402f-a41b-1ada65435346
INSTANCE_HOST=payment-service
INSTANCE_PORT=50052
HEALTH_CHECK_URL=
HEALTH_CHECK_INTERVAL=10s

# Mailpit Configuration
SMTP_USER=
SMTP_PASSWORD=
SMTP_HOST=mailpit-service
SMTP_PORT=1025
FROM_EMAIL=no-reply@example.com

# RabbitMQ Queues
PRODUCT_CREATED_QUEUE=product.product.created
PRODUCT_UPDATED_QUEUE=product.product.updated
PRODUCT_DELETED_QUEUE=product.product.deleted
ORDER_CREATED_QUEUE=order.order.created
ORDER_PENDING_CANCELLED_QUEUE=order.pending.cancelled
ORDER_PAID_SUCCESS_QUEUE=order.paid.success
ORDER_PAID_CANCELLED_QUEUE=order.paid.cancelled

# Microservice Configuration
AUTH_SERVICE_NAME=auth-service
PRODUCT_SERVICE_NAME=product-service

# Stripe Configuration
STRIPE_SECRET_KEY=<YOUR_STRIPE_SECRET_KEY>